:root {
  --_black: #0d0d0d;
  --_gray: #262121;
  --_darkerred: #610e0e;
  --_darkred: #7f0c16;
  --_red: #c20414;
}
html::-webkit-scrollbar {
  display: none;
}
::selection {
  background: var(--_darkerred);
}
html {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* overflow-x: hidden; */
  scrollbar-color: red, blue;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  font-smooth: always;
}
p {
  margin: 0;
}
.main {
  width: 1366px;
  min-height: 100vh;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --_black: #ffffff;
    --_gray: #f2f2f2;
    --_darkerred: #bb0c16;
    --_darkred: #f20519;
    --_red: #f20519;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --_black: #0d0d0d;
    --_gray: #262121;
    --_darkerred: #610e0e;
    --_darkred: #7f0c16;
    --_red: #c20414;
  }
  body {
    background-color: var(--_black);
  }
}